<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <!-- Include the HTMX library on your page -->
    <script src='/htmx.min.js'></script>
    <!-- Include the Alpine library on your page -->
    <script src="/alpinejs.min.js" defer></script>
    <!-- Include the TailwindCSS library on your page -->
    <script src="/tailwind3.4.3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
  </head>
  <body>
    <div class="flex flex-col h-screen">
        <div class="flex items-center justify-between navbar bg-base-100">
            <p class="text-xl justify-center">{{ message }}</p>
            <audio id="video" controls></audio>
        </div>
        <div class="flex flex-grow items-center justify-center">
            <button class="btn btn-circle btn-outline size-64">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
    </div>
  </body>
  <script>
  var video = document.getElementById('video');
  var videoSrc = '/output.m3u8';
  if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource(videoSrc);
    hls.attachMedia(video);
  }
  // HLS.js is not supported on platforms that do not have Media Source
  // Extensions (MSE) enabled.
  //
  // When the browser has built-in HLS support (check using `canPlayType`),
  // we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video
  // element through the `src` property. This is using the built-in support
  // of the plain video element, without using HLS.js.
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = videoSrc;
  }
</script>
</html>